hide: true
tabs:
  general_information:
    display: General
    sections:
      -
        display: 'Business information'
        instructions: 'This information will be used in the email templates.'
        fields:
          -
            handle: name
            field:
              display: 'Business name'
              type: text
              width: 50
              localizable: false
              validate:
                - required
          -
            handle: address1
            field:
              display: 'Business address'
              type: text
              width: 50
              localizable: false
              validate:
                - required
          -
            handle: zip_city
            field:
              display: 'ZIP & City'
              type: text
              width: 50
              localizable: false
              validate:
                - required
          -
            handle: country
            field:
              display: Country
              type: text
              width: 50
              localizable: false
              validate:
                - required
          -
            handle: phone
            field:
              display: Phone
              type: text
              width: 50
              localizable: false
              validate:
                - required
          -
            handle: mail
            field:
              display: Email
              type: text
              width: 50
              localizable: false
              validate:
                - required
          -
            handle: logo
            field:
              display: Logo
              type: text
              localizable: false
              validate:
                - required
              instructions: 'Type "false" to use business name or an absolute URL (including https://)'
  engine_settings:
    display: Engine
    sections:
      -
        display: 'Engine settings'
        instructions: 'Change how the reservation engine behaves.'
        fields:
          -
            handle: enable_advanced_availability
            field:
              display: 'Enable advanced availability'
              type: toggle
              localizable: false
              validate:
                - required
              instructions: 'Enables the [advanced availability](https://resrv.dev/availability#advanced-availability) feature.'
          -
            handle: enable_connected_availabilities
            field:
              display: 'Enable connected advanced availabilities'
              type: toggle
              localizable: false
              validate:
                - required
              instructions: 'Enables the [connected availabilities](https://resrv.dev/availability#connected-availabilities) feature.'
          -
            handle: enable_time
            field:
              display: 'Enable time'
              type: toggle
              localizable: false
              validate:
                - required
              instructions: 'Require an explicit pick-up and drop-off time for each reservation. Not yet implemented in the frontend.'
          -
            handle: enable_affiliates
            field:
              display: 'Enable affiliates'
              type: toggle
              localizable: false
              validate:
                - required
              instructions: 'Enable the [affiliate system](https://resrv.dev/affiliates).'
          -
            handle: enable_cutoff_rules
            field:
              display: 'Enable cutoff rules'
              type: toggle
              localizable: false
              validate:
                - required
              instructions: 'Enable the ability to set cutoff times for bookings based on starting times and schedules. When enabled, entries can specify how many hours before a scheduled start time bookings must be made.'
          -
            handle: minimum_days_before
            field:
              display: 'Minimum days before'
              type: integer
              localizable: false
              validate:
                - required
              instructions: "The minimum number of days allowed between the current date and the reservation start date. Useful if you don't want to allow last-minute reservations."
          -
            handle: minimum_reservation_period_in_days
            field:
              display: 'Minimum reservation period (in days)'
              type: integer
              width: 50
              localizable: false
              validate:
                - required
              instructions: 'In scenarios like a hotel where reservations span multiple dates, you can set here the minimum required number of days.'
          -
            handle: maximum_reservation_period_in_days
            field:
              display: 'Maximum reservation period (in days)'
              type: integer
              width: 50
              localizable: false
              validate:
                - required
              instructions: 'The same for maximum reservation period.'
          -
            handle: free_cancellation_period
            field:
              display: 'Free cancellation (in days)'
              type: integer
              width: 50
              localizable: false
              validate:
                - required
              instructions: 'The number of days before the reservation start date that the user can cancel the reservation. Please note that cancellations are manual; this is mainly used to display that info in the frontend.'
          -
            handle: full_payment_after_free_cancellation
            field:
              display: 'Require full payment if free cancellation has passed'
              type: toggle
              width: 50
              localizable: false
              validate:
                - required
              instructions: "If the free cancellation period has passed when the user makes the reservation, you can require full payment (in case you're not already doing that)."
          -
            handle: maximum_quantity
            field:
              display: 'Maximum quantity'
              type: integer
              width: 50
              localizable: false
              validate:
                - required
              instructions: 'The maximum quantity allowed in one reservation.'
          -
            handle: ignore_quantity_for_prices
            field:
              display: 'Ignore quantity for prices'
              type: toggle
              width: 50
              localizable: false
              validate:
                - required
              instructions: 'In case you want to keep track of the quantity but not charge extra for it, you can set this to true. For example, you might want to charge $20 for a reservation at a restaurant and allow 20 seats, but not charge extra for each seat.'
          -
            handle: calculate_days_using_time
            field:
              display: 'Calculate days using time'
              type: toggle
              width: 50
              localizable: false
              validate:
                - required
              instructions: 'If enable time is enabled, this will charge an extra day if the ending time is after the starting time. For example, if you give a car at 12:00 and it is returned at 18:00, you will charge an extra day. Not yet implemented in the frontend.'
          -
            handle: decrease_availability_for_extra_time
            field:
              display: 'Decrease availability for extra time'
              type: toggle
              width: 50
              localizable: false
              validate:
                - required
              instructions: 'Tied to the setting before, this will block availability for the final day if the return time is after the starting time.'
          -
            handle: admin_email
            field:
              display: 'Admin email'
              type: text
              localizable: false
              validate:
                - required
              instructions: 'Comma-separated list of the emails that should be notified for new reservations or refunds.'
      -
        display: 'Abandoned reservation emails'
        instructions: 'Send recovery emails to customers who started but did not complete a reservation.'
        fields:
          -
            handle: enable_abandoned_emails
            field:
              display: 'Enable abandoned reservation emails'
              type: toggle
              localizable: false
              validate:
                - required
              instructions: 'When enabled, the `resrv:send-abandoned-emails` command will send recovery emails to customers with expired reservations.'
          -
            handle: abandoned_email_delay_days
            field:
              display: 'Delay (in days)'
              type: integer
              width: 50
              localizable: false
              default: 1
              validate:
                - required
              instructions: 'Number of days after a reservation expires before sending the recovery email. For example, 1 means the email is sent the next day.'
  checkout_settings:
    display: Checkout
    sections:
      -
        display: 'Checkout Settings'
        instructions: 'Modify the checkout process.'
        fields:
          -
            handle: form_name
            field:
              max_items: 1
              type: form
              display: Form
              instructions: 'The form you want to use during checkout. The default is "checkout" and should work out of the box.'
              localizable: false
          -
            handle: checkout_entry
            field:
              display: 'Checkout Entry'
              type: entries
              max_items: 1
              localizable: false
              validate:
                - required
              instructions: 'The Statamic entry that loads the [Livewire checkout](https://resrv.dev/checkout#checkout-component) component.'
          -
            handle: checkout_completed_entry
            field:
              display: 'Checkout Redirect Entry'
              type: entries
              max_items: 1
              localizable: false
              validate:
                - required
              instructions: 'The [Checkout complete](https://resrv.dev/checkout#checkout-complete) page that includes the `resrv_checkout_redirect` tag.'
          -
            handle: payment
            field:
              display: 'Payment type'
              type: select
              options:
                -
                  key: full
                  value: 'Charge the whole amount'
                -
                  key: everything
                  value: 'Charge the whole amount plus any options and extras'
                -
                  key: fixed
                  value: 'Charge a fixed amount'
                -
                  key: percent
                  value: 'Charge a percentage of the base price'
              localizable: false
              validate:
                - required
              instructions: 'Payment required to complete the reservation. You can choose between paying everything (reservation plus any extras and options), the reservation price only, a percentage of the reservation price, or a fixed amount.'
          -
            handle: fixed_amount
            field:
              display: 'Fixed amount'
              type: integer
              localizable: false
              validate:
                - required
              instructions: 'The amount that should be charged to complete a reservation.'
              if:
                payment: 'equals fixed'
          -
            handle: percent_amount
            field:
              display: Percentage
              type: integer
              localizable: false
              validate:
                - required
              instructions: 'The percentage of the reservation price that should be charged.'
              if:
                payment: 'equals percent'
          -
            handle: minutes_to_hold
            field:
              display: 'Minutes to hold'
              type: integer
              localizable: false
              validate:
                - required
              instructions: 'When a user initiates a checkout, the availability for their reservation is temporarily blocked for the given number of minutes. This helps to prevent double bookings, especially when availability is low.'
  currency_settings:
    display: Currency
    sections:
      -
        display: 'Currency Settings'
        instructions: 'Here you can set the currency that will be used site-wide.'
        fields:
          -
            handle: currency_name
            field:
              display: 'Currency name'
              type: text
              localizable: false
              validate:
                - required
          -
            handle: currency_isoCode
            field:
              display: 'Currency ISO code'
              type: text
              localizable: false
              validate:
                - required
          -
            handle: currency_symbol
            field:
              display: 'Currency symbol'
              type: text
              localizable: false
              validate:
                - required
          -
            handle: currency_delimiter
            field:
              display: 'Currency delimited'
              type: text
              localizable: false
              validate:
                - required
title: Config
