.statamic-resrv-availability {
    .fc-daygrid-day-top {
        flex-direction: column !important;
        flex-wrap: wrap !important;
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fc .fc-toolbar-title {
    font-size: 1.2rem !important;
    @screen xl {
        font-size: 1.75rem !important;
    }
}

.date-container > span {
    @apply w-full;
}