
   
name: Run Tests

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  php-tests:
    runs-on: ${{ matrix.os }}
    if: "!contains(github.event.head_commit.message, '[ci skip]')"

    strategy:
      matrix:
        php: [8.2, 8.3, 8.4]
        laravel: [10.*, 11.*, 12.*]
        stability: [prefer-stable]
        os: [ubuntu-latest]
        include:
          - laravel: 11.*
            framework: ^11.0
          - laravel: 12.*
            framework: ^12.0
            
    name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.stability }} - ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v41
        with:
          files: |
            config
            resources/lang
            resources/users
            resources/views
            routes
            src
            tests
            composer.json
            phpunit.xml.dist
            .github/workflows/tests.yml
            **.php

      - name: Determine whether tests should run
        id: should-run-tests
        if: steps.changed-files.outputs.any_modified == 'true' || github.event_name == 'schedule'
        run: echo "result=true" >> $GITHUB_OUTPUT

      - name: Update apt sources
        if: steps.should-run-tests.outputs.result == 'true' && matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get check || sudo apt --fix-broken install -y
          sudo apt-get update

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick, fileinfo, :php-psr
          coverage: none
        
      - name: Set PHP 8.3 Testbench
        run: composer require "orchestra/testbench ^9.0" --no-interaction --no-update
        if: matrix.laravel == '11.*' && matrix.php >= 8.3

      - name: Set PHP 8.4 Testbench
        run: composer require "orchestra/testbench ^10.0" --no-interaction --no-update
        if: matrix.laravel == '12.*' && matrix.php >= 8.4

      - name: Install dependencies
        run: |
          composer require "laravel/framework:${{ matrix.framework }}" --no-interaction --no-update
          composer update --${{ matrix.stability }} --prefer-dist --no-interaction
      - name: Composer dump-autoload
        run: composer dump-autoload
      - name: Execute tests
        run: vendor/bin/phpunit
